.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.home-title {
    color: $color-white;
}

.home-subtitle {
    font-weight: bold;
}

.home-category {
    width: 300px;
    height: 150px;
    margin: $sp0;
    border-radius: $sp2;
    border: 3px solid $color-dark-blue;
    box-shadow: 0 0 20px 2px $color-dark-blue-shadow;

    &:hover,
    :focus,
    :active {
        cursor: pointer;
        border: 3px solid $color-grey;
        text-decoration: none;
    }
}

.home-img {
    width: 292px;
    height: 142px;
    border-radius: $sp2;
    background-size: cover;

}


.home-category-title {
    width: $sp5;
    padding: $sp0;
    text-align: center;
    background-color: $color-very-dark-blue;
    color: $color-white;
    border-radius: $sp2;
    font-weight: bold;
    position: relative;
    top: $sp1;
    left: $sp6;
}