.quiz-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 25%;

    @media screen and (max-width: $sm) {
        margin: 0;
    }
}

.quiz-title {
    margin-top: $sp1;
    font-weight: 600;
}

.quiz-subtitle {
    padding-bottom: $sp0;
    border-bottom: 3px solid $color-grey;
}

.quiz-answers-container {
    display: flex;
    flex-direction: column;
}