.btn-category {
    width: 300px;
    height: 150px;
    margin: $sp0;
    border-radius: $sp2;
    border: 3px solid #283845;
    box-shadow: 0 0 20px 2px #24313b;


    &:hover,
    :focus,
    :active {
        cursor: pointer;
        border: 3px solid #70eaee
    }
}

.math {
    background: url(../../assets/math.jpg);
    background-size: cover;

}

.computers {
    background: url(../../assets/computers.jpg);
    background-size: cover;
}

.geography {
    background: url(../../assets/geography.jpg);
    background-size: cover;
}

.films {
    background: url(../../assets/films.jpg);
    background-size: cover;
}

.category-title {
    width: $sp5;
    padding: $sp0;
    text-align: center;
    background-color: #283845;
    color: #f1ecec;
    border-radius: $sp2;
    font-weight: bold;
    position: relative;
    top: $sp3;
    left: $sp6;

}