.btn {
    background-color: $color-very-dark-blue;
    color: $color-white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    outline: none;
    border: none;

    &:active,
    :focus {
        border: none;
        outline: none;
    }
}

.btn:hover {
    color: $color-white;
}

.quiz-btn {
    margin: $sp1 0;
    padding: $sp1 $sp5;
    border-radius: $sp2;
}

.result-btn {
    margin-bottom: -1rem;
    padding: $sp1;
    width: 300px;
    border-radius: $sp2;
}

.admin-btn-category {
    width: 30%;
    margin-top: $sp0;
    font-size: $sp1;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &-green {
        background-color: $color-green;
        width: 100%;
        font-size: $sp2;
    }
}