//Colors

$color-dark-blue: #283845;
$color-dark-blue-shadow: #24313b;
$color-very-dark-blue:#01111db4;
$color-light-blue: #2dc6f5;
$color-white: #f1ecec;
$color-grey: #acacacbb;
$color-grey-hover: #acacac3a;
$color-green: #20665ec0;
$color-red: #740205be;

// Measurements 

$sp: 0.2rem;
$sp0: 0.5rem;
$sp1: 0.8rem;
$sp2: 1rem; //16px
$sp3: 2rem;
$sp4: 7rem;
$sp5: 8rem;
$sp6: 10rem;
$sp7: 12rem;


// Media query

$sm: 680px;